@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap');

* {
    font-family: 'IBM Plex Mono', monospace;
}

::selection {
    background-color: rgb(126, 125, 125);
    color: white;
}